<!-- Card Demo -->

<ng-papercss-card-container>
  <ng-papercss-card-header>Header</ng-papercss-card-header>
  <ng-papercss-card-body>
    <ng-papercss-card-title>My awesome Paper card!</ng-papercss-card-title>
    <ng-papercss-card-subtitle>Nice looking subtitle.</ng-papercss-card-subtitle>
    <ng-papercss-card-text>Notice that the card width in this example have been set to 20rem, otherwise it will try to fill the current
    container/row where the card is.</ng-papercss-card-text>
    <button>Let me go here!</button>
  </ng-papercss-card-body>
  <ng-papercss-card-footer>Footer</ng-papercss-card-footer>
</ng-papercss-card-container>
